:root{
    --main-block-color: #F08A5D;
    --main-font-color: #FFFFFF
}

html{
    font-family: "Inter", sans-serif;
}

/* Styles for desktop screens */
@media screen and (min-width: 768px) {
    /*"HEADER" STYLE*/
    header{
        display: flex;
    }
    .header > a{
        color: var(--main-block-color);
        margin: 3.5%;
        font-size: x-large;
    }

    .header > #logo{
        width: 30%;
        margin-right: 10%
    }

    /*FOOTER Style*/

    footer{
        text-align: center;
        
    }

    footer > p > a > img{
        width: 2%;
        display: inline;
    }

    #f{
        margin-left: 98%;
    }


    /*BLOCKS STYLE*/
    .big_block_cont, .small_block_cont{
        display: flex;
        justify-content: center; 
    }



    .big_block, .small_block{
        border-radius: 10px;
        background-color: var(--main-block-color);
        color: var(--main-font-color);
        text-align: center;
        padding: 2%;
        margin: 5px;
    }



    .big_block{
        display: inline-block;
        width: 45%;
        height: 45%;
    }
    .small_block{
        display: inline-block;
        width: 30%;
        height: 30%;
    }

    .big_block:hover, .small_block:hover{
        color: var(--main-block-color);
        background-color: (var(--main-font-color));
        border-color: var(--main-block-color);
        border-width: 1px;
    }

    .profile_wrapper{
        background-color: var(--main-block-color);
        color: var(--main-font-color);
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 1000px;
        height: 750px;
        padding: 25px;
    }

    .userbox{
        display: flex;
    }

    .text{
        text-align: center;
        padding-left: 16%;
        padding-top: 5% ;
    }

    #pfp{
        height: 300px;
        width: 350px;
        padding-left: 5%;
    }

    /*Quiz*/

    .quiz_container{
        text-align: center;
        margin-top: 5%;
    }
    
    #running > span{
        margin-left: 100px;
        margin-right: 100px;
    }

    #qpic{
        width: 40%;
        border-radius: 10px;
    }

    #pic_wrapper{
        background-color: var(--main-block-color);
        width: 50%;
        justify-content: center ;
    }

    #answers{
        display: flex;
        justify-content: center ;
    }

    .ans{

        background-color: var(--main-block-color);
        height: 50px;
        width: 10%;
        text-align: center;
        border-radius: 10px;
        padding-top: 1%;
        color: var(--main-font-color);
        margin-left: 5px;
        margin-right: 5px;
    }

    .ans:hover{
        color: var(--main-block-color);
        background-color: (var(--main-font-color));
        border-color: var(--main-block-color);
        border-width: 1px;
    }
}

/* Styles for mobile screens */
@media screen and (max-width: 767px) {

}